			a{
				text-decoration: none;
				color: white;
			}
			body{
				padding: 1.5%;
				background-color: #272B2B;
			}
			h1{
				background-color: #2E323A;
				color: white;
				font-family: Arial;
				padding: 6px;
			}
			ul{
				list-style-type: none;
				background-color: #2E323A;
				padding: 16px;
			}
			li{
				background-color: #214A56;
				display: inline;
				margin: 2.5%;
				padding: 10px;
				color: white;
				font-family: arial;
			}
			li.active{
				background-color: #416777;
			}
			h2{
				background-color: #2E323A;
				padding: 5px;
				font-family: Arial;
				color: white;
			}
			p{
				color:white;
				background-color: #2E323A;
				text-align: center;
				padding: 18px;
				font-family: arial;
				font-size: 18px;
			}
			.wrapper {
				width: 940px;
				margin: 50px auto;
			}
			* {
				transition: all .2s;
			}